/* src/styles/element-variables.css */
:root {
  /* 主色调 */
  --el-color-primary: #0c3974; /* 主色 */
  --el-color-primary-light-3: #242948; /* 浅色3 */
  --el-color-primary-light-5: #212653; /* 浅色5 */
  --el-color-primary-light-7: #7bb1ce; /* 浅色7 */
  --el-color-primary-light-8: #a7a7a7; /* 浅色8 */
  --el-color-primary-light-9: #eff8ff; /* 浅色9 */
  --el-color-primary-dark-2: #4a120d; /* 深色2 */
  --el-color-primary-dark-3: #052044; /* 深色3 */
  --el-color-primary-dark-4: #a04e27; /* 深色4 */
  /* 成功色 */
  --el-color-success: #31944c;
  /* 警告色 */
  --el-color-warning: #774c0b;
  /* 危险色 */
  --el-color-danger: #691212;
  /* 信息色 */
  --el-color-info: #909399;

  /* 特定组件颜色 */
  --el-datepicker-active-color: var(--el-color-primary);
  --el-datepicker-hover-color: var(--el-color-primary-light-3);
}

/*#19222F*/
/* #48356f*/
